.loading-twitter-pannel{
    color: red;
}

.twitterFeedArea{
    margin-bottom: 30px;
    width: 200px;
}

.twitterFeedTitle{
    color: blue;
}

.getTweets{
    margin-top: 10px;
}

.header-article{
    margin-bottom: -45px;
}

.twitter-article{
    height: 100px;
    width: 65%;
}

.twitter-image{
    float: right;
    position: relative;
    top: -50px;
}

.twitter-logo-src{
    width: 25px;
    height: 25px;
}

.twitter-name{
    display: inline;
    top: -35px;
    position: relative;
    left: 10px;
    font-size: 14px;
    font-weight: bolder;
}

.twitter-screen-name{
    display: inline;
    position: relative;
    top: -30px;
    left: 60px;
}

#twitter-feed-container{
    overflow: hidden;
    font-family: 'GillSansMTProMedium', arial, sans-serif;
    font-size: 12px;
    line-height: 1em;
    width: 600px;
    max-height: 95px;
    margin-top: 40px;
    position: relative;
}

.twitter-paragraph{
    margin-top: 30px;
    word-wrap: break-word;
}

#all-articles-marquee{
    position: relative;
    -webkit-transition: top 1s, bottom;
    transition: top 1s, bottom;
}
